html {
    height: 100%;
    font-family: ar;
}

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #040b07;
    color: white;
}

header {
    border-bottom: 2px solid #012813;
    background-color: #011508;
    display: flex;
    justify-content: space-between;
    padding: 25px 45px 25px 60px;
    box-shadow: 0px 0px 15px black;
}

h1 {
    margin: 0;
}

nav {
    height: 100%;
}

.navbar-link {
    display: inline;
    line-height: 37px;
    font-size: 20px;
}

header a {
    color:white;
    text-decoration: none;
    padding: 10px 15px;
}

header a:hover, header a:focus {
    background-color:black;
    box-shadow: 0px 0px 5px 0px white;
}

.bg-fade {
    transition: 0.3s;
}

main {
    flex: 1 0 auto;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
}

.main-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.main-block-text {
    text-align: justify;
    width: 50%;
    margin-left: 60px ;
}

footer {
    background-color: #011508;
    flex-shrink: 0;
    padding: 15px;
}

#drop-button {
    display: none;
    background-color: #011508;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px 16px;
    padding: 5px 14px;
    font-size: 25px;
}

#drop-button:hover {
    background-color: #040b07ff;
    transition: 0.3s;
    cursor: pointer;
}

/*
--black: #010101ff;
--black-2: #040b07ff;
--night: #011508ff;
--dark-green: #012813ff;
--pakistan-green: #063f1dff;
*/

@media (max-width: 650px) {
    #drop-button {
        display: block;
    }

    h1 {
        margin-bottom: 20px;
    }
    header {
        flex-direction: column;
        padding: 0;
        background-color: #040b07;
    }
    header a:hover, header a:focus {
        background-color: #011508;
    }
    .main-block {
        flex-direction: column;
        align-items: center;
    }
    .main-block-text {
        text-align: justify;
        margin: auto 15px;
        width: 85%;
    }

    #nav-left {
        padding-top: 25px;
        background-color: #011508;
    }

    #nav-right {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0px;
        width: 100%;
    }

    .navbar-link {
        flex-grow: 1;
        flex-direction: space-between;
        display: block;
        width: 100%
    }

    .bg-fade {
        display: block;
        width: 100%;
        padding: 10px 0px
    }

    .hide {
        display: none !important;
    }
}